.container{
    width: 98.8vw;
    height: 98.8vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: radial-gradient(circle at center, #ea916d, #9f401b);
    color: black;
    padding: 60px;
    color: #ffffff;
    border-radius: 12px;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h1{
    font-size: 26px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 3px 3px #000000;
}
.form h2{
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 3px 3px #000000;
}
.form h2 span {
    font-weight: bold;
    filter: drop-shadow(3px 3px 1.5px #000000);
    text-shadow: none;
    background: linear-gradient(to right, #ffffff, #8b3b13, #8b3b13, #ffffff );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite; 
}
@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}
.form input{
    margin-top: 10px;
}
.botao{
    margin-bottom: 15px;
    border: none;
    height: 50px;
    width: 385px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #5b1e00;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.botao:hover{
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.09);
    transition: all 0.3s ease;
}
.inputs{
    width: 300px;
    height: 35px;
    border: solid 4px #5b1e00;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
}
.inputs[type="text"] {
  margin-bottom: 8px;
  background-color: #250c00;
  color: #ffffff;
}
.inputs[type="password"] {
    margin-bottom: 30px;
    background-color: #250c00;
    color: #ffffff;
}
.span{
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
}
.Image{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}