

.container {
  text-align: center;
  width:100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  color: #f5e9dc;
}

.flashcards-container {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.flashcard {
  width: 100%;
  height: 150px;
  perspective: 1000px;
}

.flashcard .inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flashcard.flip .inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #d4bca6;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px;
  color: #2e1a12;
}

.back {
  transform: rotateY(180deg);
  background: #e7cdb8;
}

h2 {
  color: #f5e9dc;
  margin-top: 80px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

form button {
  background: #8b5e3c;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #5e3e27;
}
