.main{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-right: 800px;
    padding-top: 245px;
}

.botao {
    background-color: #8BC34A;
    color: #FFFFFF;
    border: 3px solid #388E3C;
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: scale(1.0);
}

.botao:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #7CB342;
}
.right {
    position: absolute;
    top: 240px;
    right: 290px;
    
}